@font-face {
    font-family: 'ABeeZee';
    src: url(../assets/fonts/ABeeZee-Regular.ttf);
}

@font-face {
    font-family: 'Almarai';
    src: url(../assets/fonts/Almarai-Bold.ttf);
}

@font-face {
    font-family: 'AlfaSlab';
    src: url(../assets/fonts/AlfaSlabOne-Regular.ttf);
}